* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  font-size: calc(2vw + 2vh);
}

:root {
  --item-color: #69F0AE;
  --text-color: #00FFFF;
  --bg-color: #000;
}

body {
  background: var(--bg-color);
  width: 100vw;
  height: 100vh;
}

.status {
  height: 10vh;
  color: var(--item-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 100%;
  position: absolute;
  border: 1px solid var(--item-color);
}

.container {
  width: 100%;
  height: 30vh;
  color: var(--text-color);
  overflow: auto;
  position: relative;
}

.password {
  text-align: start;
  word-break: break-all;
  padding:  40px;
  text-transform: none;
  user-select: auto;
}

.top {
  width: 100vw;
  height: 40vh;
}

.length {
  width: 100%;
  height: calc(7vh);
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--item-color);
  background: transparent;
  color: var(--item-color);
  border-radius: calc(3.5vh);
}

input::placeholder,
label {
  color: var(--item-color);
}

form {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: calc(1vw + 1vh) calc(3vw + 3vh);
}

input[type="submit"] {
  width: 50%;
  height: calc(6vh);
  margin: 0 auto;
  color: var(--item-color);
  background: transparent;
  border: 1px solid var(--item-color);
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  height: calc(8vh);
  aspect-ratio: 1 / 1;
  appearance: none;
}

/* Create a custom design */
input[type="checkbox"]::before {
  content: '';
  display: inline-block;
  width: calc(8vh);
  aspect-ratio: 1 / 1;
  border: 1px solid var(--item-color);
  background-color: transparent;
  border-radius: calc(1vh);
}

/* Style for checked state */
input[type="checkbox"]:checked::before {
  content: '\2713';
  font-size: calc(3vw + 3vh);
  color: var(--item-color);
  text-align: center;
  line-height: auto;
}

svg {
  width: calc(3vw + 3vh);
  aspect-ratio: 1 / 1;
  position: fixed;
  bottom: calc(100% - 39%);
  right: 10px;
}

@media screen and (min-width: 361px) {
  hr, .length, input[type="submit"], input[type="checkbox"]::before {
    border: 5px solid var(--item-color);
  }
}